# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof


/.idea
/runlog
/sms-srv/run.log
/sms-srv/org
/servicer-settle-hourly-srv/test
/push-srv/test
/run_nats.log
/s1/a.log
/s1/run.log
/s1/org
/riskctrl-srv/evaluator/run.log
/riskctrl-srv/evaluator/org

# 排除proto生成的文件
/common/proto/riskctrl/riskctrl.pb.go
/common/proto/riskctrl/riskctrl.pb.micro.go
/common/proto/statlog/statlog.pb.micro.go
/common/proto/statlog/statlog.pb.go
/common/proto/gis/gis.pb.micro.go
/common/proto/gis/gis.pb.go
/common/proto/quota/quota.pb.micro.go
/common/proto/quota/quota.pb.go
/common/proto/listen-exp-key/listen_exp_key.pb.go
/common/proto/listen-exp-key/listen_exp_key.pb.micro.go
/common/proto/push/push.pb.micro.go
/common/proto/push/push.pb.go
/common/proto/auth/auth.pb.micro.go
/common/proto/auth/auth.pb.go
/common/proto/bill/bill.pb.micro.go
/common/proto/bill/bill.pb.go
/common/proto/cust/cust.pb.micro.go
/common/proto/cust/cust.pb.go
/common/proto/settle/settle.pb.micro.go
/common/proto/settle/settle.pb.go
/common/proto/sms/sms.pb.micro.go
/common/proto/sms/sms.pb.go
/common/proto/tm/tm.pb.micro.go
/common/proto/tm/tm.pb.go
/common/proto/business-bill/business-bill.pb.micro.go
/common/proto/business-bill/business-bill.pb.go
/common/proto/business-settle/business-settle.pb.micro.go
/common/proto/business-settle/business-settle.pb.go
/common/proto/admin-auth/admin_auth.pb.micro.go
/common/proto/admin-auth/admin_auth.pb.go
/common/proto/notify/notify.pb.micro.go
/common/proto/notify/notify.pb.go



# 排除go.sum文件
*.sum
/cust-srv/go.sum
/api-mobile/go.sum
/s1/go.sum
/push-srv/go.sum
/quota-srv/go.sum
/riskctrl-srv/go.sum
/settle-srv/go.sum
/etl-srv/go.sum
/statlog-srv/go.sum
/servicer-settle-hourly-srv/go.sum
/tm-srv/go.sum


# 排除日志目录
/api-mobile/go.micro.api.mobile
/api-webadmin/go.micro.api.webadmin
/auth-srv/go.micro.srv.auth
/bill-srv/go.micro.srv.bill
/listen-exp-key-srv/go.micro.srv.listen_exp_key
/push-srv/go.micro.srv.push
/quota-srv/go.micro.srv.quota
/riskctrl-srv/go.micro.srv.risk
/settle-srv/go.micro.srv.settle
/api-pos/go.micro.api.pos
/cust-srv/go.micro.srv.cust
/gis-srv/go.micro.srv.gis
/gis-srv/go.micro.srv.quota
/tm-srv/go.micro.srv.tm
/push2-srv/go.micro.srv.push
/riskctrl-srv/go.micro.srv.riskctrl
/etl-srv/go.micro.srv.etl
/business-settle-srv/go.micro.srv.business_settle
/business-bill-srv/go.micro.srv.business_bill
/admin-auth-srv/go.micro.srv.admin-auth
