{{define "order/list.html"}}

    {{template "common/header.html" .}}

    <div class="container-fluid">{{.errMsg}}<div>
    <div class="container-fluid">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>订单号</th>
                    <th>交易类型</th>
                    <th>订单名称</th>
                    <th>币种</th>
                    <th>金额(单位:分)</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>支付时间</th>
                    <th>支付订单号</th>
                    <th>支付账号</th>
                    <th>操作&nbsp;<a href="/order/add" class="btn btn-primary">添加订单</a></th>
                </tr>
                </thead>
                <tbody>
                {{range .orderList}}
                    <tr>
                        <td>{{.OrderSn}}</td>
                        <td>{{.TradeTypeName}}</td>
                        <td>{{.Title}}</td>
                        <td>{{.CurrencyType}}</td>
                        <td>{{.Amount}}</td>
                        <td>
                            {{if eq .Status 1}}
                                <span class="label label-default">{{.StatusStr}}</span>
                            {{else if eq .Status 2}}
                                <span class="label label-info">{{.StatusStr}}</span>
                            {{else if eq .Status 3}}
                                <span class="label label-primary">{{.StatusStr}}</span>
                            {{else if eq .Status 4}}
                                <span class="label label-warning">{{.StatusStr}}</span>
                            {{else }}
                                <span class="label label-default">{{.StatusStr}}</span>
                            {{end}}
                        </td>
                        <td>{{.CreateTime}}</td>
                        <td>{{.PayTime}}</td>
                        <td>{{.PayOrderSn}}</td>
                        <td>{{.PayAccount}}</td>
                        <td>
                            {{if eq .Status 1 }}
                            <a class="btn btn-success btn-sm" href="/order/pay?order_sn={{.OrderSn}}">进行支付</a>
                            {{end}}

                            {{if eq .Status 2 }}
                                <a class="btn btn-success btn-sm" href="/order/pay?order_sn={{.OrderSn}}">进行支付</a>
                            {{end}}

                            {{if eq .Status 3 }}
                                <a class="btn btn-warning btn-sm" href="/order/refund?order_sn={{.OrderSn}}">进行退款</a>
                            {{end}}
                        </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
    </div>

    {{template "common/footer.html"}}
{{end}}